/* -- reset-- */

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth ;
}

:root {
  font-size: 100%; /* 16px*/
  --header-height: 4.5rem;
  
  /* fonts */

  --title-font-size: 3.75rem;
  --subtitle-font-size: 2rem;
  --paragraph-font-size: 1rem;
  
  --title-font: 'Roboto', sans-serif;  
}

header{
  position: relative;
  background-image: url(assets/images/top.png);  
  width: 100%;
  height: 36.25rem;
  background-repeat:no-repeat ;
  background-size:cover;
  text-align: center;
}

.button2{
  position: absolute;
  right: 10%;
  margin-top: 0.625rem;
  height: 2.5rem;
  display: inline-flex;
  align-items: center;
  padding: 0 1.5rem;
  border-radius: 1.5rem;
  font-family: "roboto";
  text-decoration: none;  
  color: white;
}

.button2:hover{
  color: yellow ;
}

header .button{
  position: absolute;
  right: 3%;
  background-color: white;
  color: red;
}

header .button:hover {
  background: red;
  color: white;
}
.logo{
  position: relative;
  width: 40rem;
  left: 50%;
  top: 7%;
  transform: translate(-50%,-50%);
}

.logo span{
  padding: 1%;
}

h1{
  font: 700 var(--title-font-size) var(--title-font);
  color: white;
  padding: 1rem;
  position: absolute;
  top: 35%;
  left: 50%;
  transform: translate(-50%,-50%);
}

.search{
  background-color: white;
  border-radius: 2rem;
  width: 25rem;
  position: relative;
  top: 20rem;
  left: 50%;
  transform: translate(-50%,-50%);  
}

.search input{
  position: absolute;
  width: 17.5rem;
  padding: 10px;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  border: none;
  background-color: 0%;
}

.search a{
  display: block;
  position: relative;
  bottom: .5rem;
  left: 41%;
 
}

.search .location-icon{
  display: block;
  position: relative;
  top: 1.3rem;
  left: 5%;
  
}


.login a{
  font: 500 var(--paragraph-font-size) var(--title-font);
  position: absolute;
  top: 25rem;
  left: 50%;
  transform: translate(-50%,-50%);
  color: white;
}


/*main*/

h2{
  text-align: left;
  padding: 2rem 0rem;
}

.subtitle {
  font: 700 var(--subtitle-font-size) var(--title-font);
}

p{
  font: 500 var(--paragraph-font-size) var(--title-font);
}

/* cards */

.cards {
  margin: 2rem 5rem;
  gap: 3.5rem;
  display: flex;
}


.card {
  padding: 4rem 2rem;
  text-align: center;
  width: 30%;
}

.drawn{
  width: 10rem;
  height: 10rem;
}

.link{
  font: 500 var(--paragraph-font-size) var(--title-font);
  color: red;
  
}

/* imagens*/

.section {
  width: 100%;
  height: auto;
  display: flex;
  
}

.subtitle2 {
  font: 700 var(--subtitle-font-size) var(--title-font);
  width: 20rem;
}

.text{
  font: 500 var(--title-font) var(--paragraph-font-size);
  text-align: left;
  
  height: 4.5rem;
  padding: 2.5rem;
}

.text2{
  font: 500 var(--title-font) var(--paragraph-font-size);
  text-align: left;
  
  height: 4.5rem;
  padding: 2.5rem;
}


.image{
  width: 50rem;
  height: 30rem;
  padding: 0 2.5rem;
}

.image2{
  padding: 2.5rem;
  width: 44.5rem;
  height: 32rem;
}

.coral{
  background-color: #FFF0ED;
}

.button {
  background-color: red;
  color: white;
  margin-top: 0.625rem;
  height: 2.5rem;
  display: inline-flex;
  align-items: center;
  padding: 0 1.5rem;
  border-radius: 1.5rem;
  font-family: "roboto";
  text-decoration: none;
  transition: background 0.5s;
  cursor: pointer;
  box-shadow: 0rem 0.1rem 0.3rem rgba(0, 0, 0, 0.5); 
  
}

.button:hover {
  background: coral;
}

.section .text{
  margin-top: 5rem;
  text-shadow: 0rem 0.1rem 0.3rem rgba(0, 0, 0, 0.5)
}

.section .text2{
  margin-top: 7rem;
  text-shadow: 0rem 0.1rem 0.3rem rgba(0, 0, 0, 0.5)
}

/* Footer*/

footer{
  background-color: rgb(25, 25, 25); 
  padding: 3rem 0 0 0;
}

footer a{
  text-decoration: none;
  color: white;
}

footer .terms a{
  padding: 0 2rem;
}

footer .social a{
  padding: 0 0.5rem;

}

.head, .near, .cities, .torso{
  display: flex;
  justify-content: center;
}

h3 {
  font: 500 1.2rem var(--title-font);
  color: white;
  margin-top: 40px;
  line-height: 40px;
  margin-bottom: 10px;
  }
  

.business, .help, .know, .category, .city{
  font: 300;
  font-size: 0.875rem;
  font-family: "roboto";
  padding: 1rem;
}

li{
  list-style: none;
}

.baseboard{
  display: flex;
  padding: 2rem 6rem;
  justify-content: space-between;
  -webkit-box-pack: justify;
  font-family: "roboto";
  font-weight: 100;
  font-size: 0.75rem;
}

footer .social {
  grid-auto-flow: column;
  width: fit-content;
}

footer .social a {
  display: inline-block;
  transition: 0.3s;
}

footer .social a:hover {
  transform: translateY(-5px);
}
